#cardFront
  h5
    font-weight bold
    color #5d5e60
    text-transform uppercase
    font-size 0.7em
  .img
    width 37%
    background-size cover
    background-position center
    min-height 200px
    display inline-block

  .content
    width 62%
    display inline-block
    position absolute
    min-height 200px
    .info
      padding 0 20px
    .special
      text-align center
      position absolute
      right 42%
      bottom 0
      .q-icon
        color green
      p
        margin-bottom 5px

  .q-card-main
    padding 0

  .q-card
    margin-left 5%
    width 90%
    background white

  .q-card-actions
    margin-top -3px
    background #23067a
    border none !important

    p
      margin 7px 0

  .rate
    color yellow

  .date
    color #27d0ea

  .price
    color $info
