#cityCard
  .image
    width: 332px
    height: 250px
    margin: 0 10px
    background-size: cover
    padding: 0 10px

  .cityName
    text-transform: uppercase
    color: #eee
    margin-top: 0

  .cityPlaces
    background: white
    position: relative
    top:160px
    left: -10px
    width: 106%
