// app global css
@import '~variables'
@import './components/header.styl'
@import './components/card-front.styl'
@import './components/card-list.styl'
@import './components/card-details.styl'

html, body
  background $secondary

.centered
  text-align center

input
  display block
  width 100%
  border none
  height 40px
  margin 5px 0 15px
  padding 3px 5px

.container-pad
  padding 0 20px

h1
  font-size 30px
  font-weight bold

h3
  font-size 20px
  line-height 23px

.q-tabs-head, .q-tab-pane
  background rgba(255,255,255,0.1) !important
  color white !important
  .q-tab.column
    text-transform none !important
.q-tab-pane
  color #2a2a2b !important

#home
  .q-list
    border none

#crumb
  .q-list
    background rgba(0,0,0,0.1)
    margin-top:20px
    padding 0
    .q-item
      font-size 0.8em
      padding 0px 16px
      height 20px !important
      min-height 35px
  .circle
    height 10px
    width 10px
    border-radius 50%
    margin-right 10px

#search
  input
    background rgba(0,0,0,0.1)
    color white
    margin-top 20px

  .q-list
    background rgba(0,0,0,0.1)
    position absolute
    width 90%
#next
  .q-icon
    font-size 2em
    color white
  .circle
    display inline
    padding 15px
    position fixed
    right 43%
    bottom 40px
    border-radius 50%
  .outline
    border 1px solid $info
    background transparent
  .filled
    background $info
    -webkit-box-shadow 3px 3px 13px -4px rgba(0,0,0,0.75);
    -moz-box-shadow 3px 3px 13px -4px rgba(0,0,0,0.75);
    box-shadow 3px 3px 13px -4px rgba(0,0,0,0.75);

#tripsList
  #header
    padding-bottom 30px
